@model MyBlog.Core.ViewProjections.AdminPost.EditPostViewModel

@{
    Layout = "_AdminPostLayout";
    ViewBag.Title = Model.Post == null ? "新文章" : "编辑文章";
}

@* wangEditor样式 *@
@*<link href="~/packages/wangEditor/css/wangEditor.min.css" rel="stylesheet" />*@
<link href="~/packages/editormd/css/editormd.min.css" rel="stylesheet" />

<header id="header">
    <a href="/AdminPost/Index/@(ViewBag.ReturnPageNum)">
        <i class="glyphicon glyphicon-arrow-left" style="margin-right:5px;"></i>返回
    </a>
</header>

<div class="container">
    <form action="/AdminPost/@(Model.Post==null?"NewPost":"EditPost")"
          method="post"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-loading="#loding"
          data-ajax-success="success"
          novalidate="novalidate"
          data-val="true">
        <input name="ReturnPageNum" type="hidden" value="@(ViewBag.ReturnPageNum)" />
        <input name="PostId" type="hidden" value="@(Model.Post==null?-1:Model.Post.Id)" />
        <input name="OldTitle" type="hidden" value="@(Model.Post==null?string.Empty:Model.Post.Title)" />
        <input name="Title"
               type="text"
               class="form-control"
               data-val="true"
               data-val-required="请输入文章标题"
               placeholder="文章标题"
               required="required"
               value="@(Model.Post==null?string.Empty:Model.Post.Title)" />
        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span><br />

        @*<div id="my_editor"
                 name="PostContent"
                 style="height:380px;">
                @Html.Raw(Model.Post == null ? string.Empty : Model.Post.Content)
            </div>*@
        @*<textarea id="my_editor"
            name="PostContent"
            class="form-control"
            style="width:80%;height:380px;">@Html.Raw(Model.Post == null ? string.Empty : Model.Post.Content)</textarea>*@

        <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10" id="test-editormd">

                <textarea style="display:none;" name="Contents" id="Contents">@Html.Raw(Model.Post==null?string.Empty:Model.Post.Content)</textarea>
            </div>
            <textarea style="display:none;" name="Content" id="Content" value=""></textarea>
        </div>

        <input name="Tags"
               type="text"
               class="form-control"
               placeholder="输入文章标签(使用 “,” 分隔)"
               value="@(Model.Post==null?string.Empty:string.Join(",",Model.Post.GetTags()))" style="margin-top:10px;" />
        <div class="row">
            <div class="col-md-5" style="margin-top:10px;">
                <select name="PubState" class="form-control" style="display:inline-block;">
                    <option selected value="true">发布</option>
                    <option value="false">存为草稿</option>
                </select>
            </div>
            <div class="col-md-2" style="margin-top:10px;">
                <input type="submit" class="btn btn-primary" style="width:100%;" value="提交" />
            </div>
        </div>
    </form>
</div>



<script src="~/packages/editormd/editormd.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="/js/myscripts/editPost.js" type="text/javascript" asp-append-version="true"></script>