@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="@ViewBag.Configs.Description" name="description">
    <meta content="@ViewBag.Configs.Description" name="keywords">
    <meta content="@ViewBag.Configs.Author" name="author">
    <link rel="shortcut icon" href="@ViewBag.Configs.FaciconUrl" type="image/x-icon" asp-append-version="true">
    <title>@(ViewBag.Configs.AppName + "-" + ViewBag.Title)</title>


    <partial name="~/Views/Shared/_StyleLayout.cshtml" />
    <partial name="~/Views/Shared/_JqueryLayout.cshtml" />

    <link href="~/packages/editormd/css/editormd.min.css" rel="stylesheet" />
    <link href="~/packages/editormd/css/editormd.preview.min.css" rel="stylesheet" />
    <link href="/css/my_panel.css" rel="stylesheet" />
    <link href="/css/Home/layout.css" rel="stylesheet" />
    <link href="/css/Home/post_list.css" rel="stylesheet" />
    <link href="/css/Home/post_details.css" rel="stylesheet" />
    <link href="/css/button.prev.next.css" rel="stylesheet" />

</head>
<body>

    <span id="upup">
        <a href="#header" class="glyphicon glyphicon-circle-arrow-up"></a>
    </span>

    @* 页首 *@
    <header id="header">
        <a href="/">@ViewBag.Configs.AppName</a>
    </header>

    <div class="container">

        <div class="row">

            <div class="post-list col-xs-12 col-sm-8 col-md-8">
                @* 主体列表 *@
                @RenderBody()
            </div>

            <div class="infos hidden-xs col-sm-4  col-md-4">

                @* 关于我 *@
                <partial name="~/Views/Home/_AboutMe.cshtml" />

                @* 文章标签 *@
                <div class="panel">
                    <div class="panel-head icon-folder-open"><strong>标签</strong></div>
                    <div class="panel-body">
                        @if (ViewBag.Tags.TagList.Count <= 0)
                        {
                            <a>暂无标签</a>
                        }
                        else
                        {
                            foreach (var item in ViewBag.Tags.TagList)
                            {
                                <a href="/TagPosts/Home/Tags/@Html.Encode(item.Value)/1" target="_blank">@(item.Value)<span class="tag-count">@item.Count</span></a>

                            }
                        }
                    </div>
                </div>

                @*  *@
                <div class="panel">
                    <div class="panel-head icon-folder-open"><strong>最近文章</strong></div>
                    <div class="panel-body">
                        @if (ViewBag.RecentPost.PostList.Count <= 0)
                        {
                            <a>暂无文章</a>
                        }
                        else
                        {
                            foreach (var item in ViewBag.RecentPost.PostList)
                            {
                                <a href="~/Details/Home/Posts/@(item.PublishSortDate)/@(item.Id)" target="_blank">@item.Title</a><br />
                            }
                        }
                    </div>
                </div>

                @* 友情链接 *@
                <div class="panel">
                    <div class="panel-head icon-folder-open"><strong>推荐</strong></div>
                    <div class="panel-body">
                        @if (ViewBag.Configs != null && ViewBag.Configs.RecommendUrls != null)
                        {
                            for (int i = 0; i < ViewBag.Configs.RecommendUrls.Count; i++)
                            {
                                var tmp = ViewBag.Configs.RecommendUrls[i];
                                <a href="@tmp.Value" target="_blank">@tmp.Key</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*@* 页脚信息 *@
    <footer id="footer" style="color:#fff">
        © 2018 POWERED BY <a href="https://github.com/staneee/MyBlog.NetCore" target="_blank">MyBlog</a>
        @Html.Raw(ViewBag.Configs.AppNo)
        <p></p>
    </footer>

    @* 导入脚本 *@
    <partial name="~/Views/Shared/_ScriptLayout.cshtml" />
</body>
</html>
