
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>@ViewBag.Title</title>
    <partial name="~/Views/Shared/_StyleLayout.cshtml" />
    <partial name="~/Views/Shared/_JqueryLayout.cshtml" />
    <link href="@Url.Content("/Packages/wangEditor/css/wangEditor.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Styles/my_panel.css")" rel="stylesheet" />
    <link href="@Url.Content("/Styles/Home/layout.css")" rel="stylesheet" />
    <link href="@Url.Content("/Styles/Home/post_list.css")" rel="stylesheet" />
    <link href="@Url.Content("/Styles/Home/post_details.css")" rel="stylesheet" />
    <link href="@Url.Content("/Styles/button.prev.next.css")" rel="stylesheet" />

</head>
<body>

    <span id="upup">
        <a href="#header" class="glyphicon glyphicon-circle-arrow-up"></a>
    </span>

    @* 页首 *@
    <header id="header">
        <a href="/">玩双截棍的熊猫的博客</a>
    </header>

    <div class="container">

        <div class="row">

            <div class="post-list col-xs-12 col-sm-8 col-md-8">
                @* 主体列表 *@
                @RenderBody()
            </div>

            <div class="infos hidden-xs col-sm-4  col-md-4">

                @* 关于我 *@
                <partial name="~/Views/Home/_AboutMe.cshtml" />

                @* 文章标签 *@
                <div class="panel">
                    <div class="panel-head icon-folder-open"><strong>标签</strong></div>
                    <div class="panel-body">
                        @if (ViewBag.Tags.TagList.Count <= 0)
                        {
                            <a>暂无标签</a>
                        }
                        else
                        {
                            foreach (var item in ViewBag.Tags.TagList)
                            {
                            <a href="/TagPosts/Home/Tags/@(item.tag_name)/1" target="_blank">@(item.tag_name)<span class="tag-count">@item.tag_count</span></a>

                            }
                        }
                    </div>
                </div>

                @*  *@
                <div class="panel">
                    <div class="panel-head icon-folder-open"><strong>最近文章</strong></div>
                    <div class="panel-body">
                        @if (ViewBag.RecentPost.PostList.Count <= 0)
                        {
                            <a>暂无文章</a>
                        }
                        else
                        {
                            foreach (var item in ViewBag.RecentPost.PostList)
                            {
                            <a href="~/Details/Home/Posts/@(item.PublishSortDate)/@(item.Id)" target="_blank">@item.Title</a><br />
                            }
                        }
                    </div>
                </div>

                @* 友情链接 *@
                <div class="panel">
                    <div class="panel-head icon-folder-open"><strong>推荐博客</strong></div>
                    <div class="panel-body">
                        <a href="https://www.linuxdot.net/" target="_blank">LinuxDotNet大本营</a>
                        <a href="http://www.cnblogs.com/yunei" target="_blank">宇内流云的园子</a>
                        <a href="http://www.cnblogs.com/shanyou" target="_blank">张善友的园子</a>
                        <a href="http://www.jhonge.com/" target="_blank">惊鸿哥的港湾</a>
			<a href="http://yimingzhi.net/" target="_blank">衣明志的技术博客</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*@* 页脚信息 *@
    <footer id="footer" style="color:#fff">
       备案号：粤ICP备xxxxx号-1
<p></p>
    </footer>

    @* 导入脚本 *@
    <partial name="~/Views/Shared/_ScriptLayout.cshtml" />
</body>
</html>
